.container {
  background: white;
  opacity: .9;
  box-sizing: border-box;
  margin: 60px 20px;
  min-height: 800px;
  padding: 2px;
  display: flex;
  flex-direction: row;
}

.navigation {
  width: 160px;
}

.content {
  width: 100%;
  box-sizing: border-box;
}

